*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	/* overflow-x:hidden ; */
}
.navbar_items{
	display: flex;
	justify-content: space-between;
	margin-left: 3rem;
	margin-right: 3rem;
}
  /* Header */

 .header {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	height: 70px;
	width: 100%;
	display: inline-block;
	background: #ffffff;
	box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
} 
.navigation{
	/* padding-top: -100px; */
} 
.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	position: relative;
}
.header__menu ul li:hover .dropdown {
	top: 27px;
	opacity: 1;
	visibility: visible;
}
.header__menu ul li:last-child {
	margin-right: 0;
}
.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: capitalize;
}
.header__menu ul li .dropdown li a:after {
	display: none;
}
.header__menu ul li a {
	font-size: 15px;
	text-transform: uppercase;
	color: #111111;
	font-weight: 500;
	display: block;
	padding: 2px 0;
	position: relative;
}
.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #ca1515;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.header__right__auth {
	display: inline-block;
	
}
.header__right__auth a {
	font-size: 12px;
	color: #666666;
	position: relative;
	margin-right: 8px;
}
.header__right__auth a:last-child {
	margin-right: 0;
}
.header__right__auth a:last-child:after {
	display: none;
}
.header__right__auth a:after {
	position: absolute;
	right: -8px;
	top: -2px;
	content: "/";
	font-size: 13px;
}
.header__right__widget {
	display: inline-block;
}
.header__right__widget li {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	color: #111111;
	margin-right: 20px;
	cursor: pointer;
}

.header__right__widget li:last-child {
	margin-right: 0;
}

.header__right__widget li a {
	font-size: 18px;
	color: #111111;
	position: relative;
}

.header__right__widget li a .tip {
	position: absolute;
	right: -12px;
	top: -11px;
	height: 18px;
	width: 18px;
	background: #111111;
	font-size: 10px;
	font-weight: 500;
	color: #ffffff;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
} 

/* categories */
.categories{
	display: grid;
    align-content: center;
    height: 90%;
    width: 80%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "one one two three"
    "one one four five"
   ;
   align-items: center;
   gap: 5px;
   /* margin-top: 10px; */
   /* padding: 10px; */
   /* padding-left: 200px; */
}
.one, .two, .three,.four, .five{
	display: flex;
	flex-direction: row;
}
.one{
	height: 600px;
	width: 600px;
	grid-area: one;
}
.two{
	grid-area: two;
}
.three{
	grid-area: three;
}
.four{
	grid-area: four;
}
.five{
	grid-area: five;
}
.four, .two, .three, .five{
	height: 300px;
	width: 320px;
}
.categories__text{
	float: center;
	align-items: center;
	text-align: center;
	justify-content: center;
}

/* banner */
.container-banner{
	overflow-x: hidden;
	width: 100%;
	height: 100rem;
	background-repeat: no-repeat;
}