*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	/* overflow-x:hidden ; */
}
.navbar_items{
	display: flex;
	justify-content: space-between;
	margin-left: 3rem;
	margin-right: 3rem;
}
  /* Header */

 .header {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	height: 70px;
	width: 100%;
	display: inline-block;
	background: #ffffff;
	box-shadow: 0px 5px 10px rgba(91, 91, 91, 0.1);
} 
.navigation{
	/* padding-top: -100px; */
} 
.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	position: relative;
}
.header__menu ul li:hover .dropdown {
	top: 27px;
	opacity: 1;
	visibility: visible;
}
.header__menu ul li:last-child {
	margin-right: 0;
}
.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 8px 20px;
	text-transform: capitalize;
}
.header__menu ul li .dropdown li a:after {
	display: none;
}
.header__menu ul li a {
	font-size: 15px;
	text-transform: uppercase;
	color: #111111;
	font-weight: 500;
	display: block;
	padding: 2px 0;
	position: relative;
}
.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #ca1515;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.header__right__auth {
	display: inline-block;
	
}
.header__right__auth a {
	font-size: 12px;
	color: #666666;
	position: relative;
	margin-right: 8px;
}
.header__right__auth a:last-child {
	margin-right: 0;
}
.header__right__auth a:last-child:after {
	display: none;
}
.header__right__auth a:after {
	position: absolute;
	right: -8px;
	top: -2px;
	content: "/";
	font-size: 13px;
}
.header__right__widget {
	display: inline-block;
}
.header__right__widget li {
	list-style: none;
	display: inline-block;
	font-size: 18px;
	color: #111111;
	margin-right: 20px;
	cursor: pointer;
}

.header__right__widget li:last-child {
	margin-right: 0;
}

.header__right__widget li a {
	font-size: 18px;
	color: #111111;
	position: relative;
}

.header__right__widget li a .tip {
	position: absolute;
	right: -12px;
	top: -11px;
	height: 18px;
	width: 18px;
	background: #111111;
	font-size: 10px;
	font-weight: 500;
	color: #ffffff;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
} 

/* categories */
.categories{
	display: grid;
    align-content: center;
    /* height: 90%; */
    /* width: 80%; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "one one two three"
    "one one four five"
   ;
   align-items: center;
   gap: 5px;
}
.one, .two, .three,.four, .five{
	display: flex;
	flex-direction: row;
}
.one .categories__text{
	width: 20vh;
	align-items: block;
	gap: 5px;
	justify-content: center;
	align-items: center;
}
.one{
	height: 600px;
	width: 600px;
	grid-area: one;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.one .categories__text{
	justify-content: space-between;
	gap: 10px;
	height: 200px;
}
.one .categories__text >p >h1{
	width: 20em;
	color: rgba(0, 0, 0, 0.753);
}
.two{
	grid-area: two;

}
.three{
	grid-area: three;

}
.four{
	grid-area: four;


}
.five{
	grid-area: five;

}
.four, .two, .three, .five{
	height: 300px;
	width: 320px;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.categories__text{
	/* float: center; */
	align-items: center;
	text-align: center;
	padding: 7em;
	justify-content: center;
}

/* banner */
.container-banner{
	overflow-x: hidden;
	width: 100%;
	height: 100rem;
	background-repeat: no-repeat;
}

/* product section */
.row{
	display: flex;
	justify-content: space-between;
	margin-left: 3rem;
	margin-right: 3rem;
	overflow: hidden;
	margin-top: 10px;
}

.filter__controls{
	display: flex;
	justify-content: space-between;
	margin-left: 3rem;
	margin-right: 3rem;
	justify-content: space-evenly;
}
li{
	list-style: none;
}

/* product */
 .property__gallery{ 
	/* height: 500px;
    width: 600px; */
    border: 1px solid black;
    display: flex;
	flex-wrap: wrap;
    /* flex-flow: row; */
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 4px;
}


/* trend item */
.trendy_section{
	padding: 20px 20px 20px;
}
.trend__item{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 35px;
}

.trend__item{
	display: flex;
	flex-direction: column;
    
}
.trend__item__text {
    overflow: hidden;
}
.product__item__pic{
	height: 360px;
	position: relative;
	overflow: hidden;
}
.trend__item__text h6 {
    font-size: 14px;
    color: #111111;
    margin-bottom: 5px;
}
.sec_categories{
	padding-bottom: 5rem;
}
	
/* service */
.services__item{
	gap: 10px;
}
.fa{
	color: yellow;
}
.fa-car, .fa-money, .fa-service, .fa-support, .fa-headphones  {
	color: red;
	font-size: 40px;
}
.services__item{
	display: flex;
	flex-direction: row;
}

/* discount */
.discount__text__title h2 {
    font-size: 60px;
    color: #ca1515;
    font-family: "Cookie", cursive;
    line-height: 46px;
    margin-bottom: 10px;
}
.discount__text__title h5 {
    color: #ca1515;
    font-weight: 700;
}

.discount__text__title span {
    font-size: 12px;
    color: #111111;
    font-weight: 500;
    text-transform: uppercase;
}
.discount__countdown {
    text-align: center;
    margin-bottom: 10px;
}