*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
  *, ::after, ::before {
    box-sizing: border-box;
  }
  body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    /* color: #111111; */
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
  
  a{
      text-decoration: none;
      color: white;
  }
  h3 a{
    text-decoration: none;
  }
  h1 {
    font-size: 70px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 16px;
  }
  
  p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
  li {
    list-style: none;
  }

.container-admin{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: whitesmoke;
}
.container-orders{
    padding: 10px;
    margin-left: 5rem;
}

.side-bar{
    background-color: #20262E;
    width: 20%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}
.top-sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main-content{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.top-bar{
    background-color: white;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 8.5%;
    height: 4rem;
    padding: 0.5rem;
}
.search-profile-pic{
    display: flex;
    gap: 2rem;
}
.search-profile-pic input{
    border: none;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 0.7rem;
}
.search-profile-pic ion-icon{
    font-size: 2rem;
    color: aqua;
    margin-right: 4rem;
}
.display-cards{
    width: 80%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 15%;
    margin-top: 2rem;
    
}
.display-cards ion-icon{
    font-size: 3rem;
    color: #362FD9;
}
.products-card, .users-card, .orders-card, .total-sales-card{
    /* border: 2px solid red; */
    padding: 0.5rem;
    gap: 10px;
    height: 100%;
    width: 21%;
    display: flex;
    background-color: white;
    border-radius: 0.3rem;
}
.products-card:hover, .users-card:hover, .orders-card:hover, .total-sales-card:hover{
    background-color: grey;
    cursor:pointer;
}
.filter-search{
    width: 80%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.search input{
    border: none;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.7rem;
    
}
.filter{
    display: flex;
    gap: 0.5rem;
    width: 10%;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.filter ion-icon{
    font-size: 1rem;
    color: black;
}
.customers-details{
    width: 80%;
    min-width: 580px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}
.table{
    display: flex;
}
.previous-next{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
}
/* .table{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: white;
}
.table ion-icon{
    font-size: 1rem;
    color: black;
} */
.previous-next button{
    border: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
}
.add-new-product{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 40%;
    min-width: 300px;
    transform: translate(-50%,-50%) scale(0);
    z-index: 1000;
    background-color: grey;
    padding: 1rem;
    border-radius: 0.5rem;
}
.add-new-product input, select{
    width: 100%;
    height: 1.8rem;
}
.add-new-product button{
    border: none;
    padding: 0.5rem;
    margin-left: 40%;
    border-radius: 2px
}
.add-new-product button:hover{
    background-color: aqua;
}

/* Responsiveness for a phone */
@media screen and (max-width: 1000px) {
.container{
    height: fit-content;
}
  .top-bar{
    margin-left: 0;
    width: 100%;
  }  
  .display-cards{
    margin-left: 3rem;
    flex-wrap: wrap;
  }
  .display-cards ion-icon{
    font-size: 3.5rem;
    color: #362FD9;
}

  .filter-search{
    margin-left: 3rem;
  }
  .customers-details{
    margin-left: 3rem;
  }
  .products-card, .users-card, .orders-card, .total-sales-card{
    /* border: 2px solid red; */
    /* padding: 0.5rem; */
    gap: 10px;
    height: 100%;
    width: 20%;
    display: flex;
    /* flex-direction: column; */
    /* background-color: white; */
    border-radius: 0.2rem;
}
}
@media screen and (max-width: 480px) {

}