.container{
    margin: 5rem;
}
.shop {
	padding-top: 70px;
	padding-bottom: 80px;
}
.content{
    display: flex;
    gap: 10px;
}
.categories{
    margin-top: 50px;
    width: 20%;
}

.sidebar__categories {
	margin-bottom: 50px;
}

.sidebar__categories .section-title {
	margin-bottom: 35px;
}

.sidebar__categories .section-title h4 {
	font-size: 18px;
}

.cat .card {
	border: none;
	border-radius: 0;
	padding-bottom: 12px;
	border-bottom: 1px solid #f2f2f2 !important;
	margin-bottom: 12px;
}

.cat .card:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none !important;
}

.cat .card-heading {
	cursor: pointer;
}

.cat .card-heading a {
	font-size: 14px;
	font-weight: 500;
	color: #111111;
	display: block;
}

.cat .card-body {
	padding-left: 0;
	padding-top: 6px;
	padding-bottom: 0;
}

.cat .card-body li {
	list-style: none;
	position: relative;
	padding-left: 16px;
}

.cat .card-body li:before {
	position: absolute;
	left: 4px;
	top: 14px;
	height: 1px;
	width: 4px;
	background: #666666;
	content: "";
}

.cat .card-body li a {
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}

/* .cat .card-heading a:after,
.cat .card-heading>a.active[aria-expanded=false]:after {
	content: "";
	font-size: 14px;
	font-family: "FontAwesome";
	color: #666666;
	position: absolute;
	right: 30px;
	top: 0px;
} */

/* .cat .card-heading.active a:after {
	content: "";
	font-size: 14px;
	font-family: "FontAwesome";
	color: #666666;
	position: absolute;
	right: 30px;
	top: -1px;
} */

/* .cat .card-heading a[aria-expanded=true]:after,
.cat .card-heading>a.active:after {
	content: "";
	font-size: 14px;
	font-family: "FontAwesome";
	color: #666666;
	position: absolute;
	right: 30px;
	top: -1px;
} */