* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }
  
  a{
      text-decoration: none;
  }
  h1 {
    font-size: 70px;
  }
  
  h2 {
    font-size: 36px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h5 {
    font-size: 18px;
  }
  
  h6 {
    font-size: 16px;
  }
  
  p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
  li {
    list-style: none;
  }

.breadcrumb-option {
	padding-top: 35px;
    margin-left: 5rem;
}

.breadcrumb__links a {
	font-size: 15px;
	font-weight: 500;
	color: #111111;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a ion-icon{
	margin-right: 5px;
}

.breadcrumb__links span {
	font-size: 15px;
	font-weight: 500;
	color: #888888;
	display: inline-block;
}
.instagram {
  display: flex;
  width: 100%;
}
.instagram__item {
height: 320px;
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
position: relative;
z-index: 1;
}

.instagram__item:hover:after {
opacity: 1;
}

.instagram__item:hover .instagram__text {
opacity: 1;
visibility: visible;
}

.instagram__item:after {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background: rgba(255, 255, 255, 0.9);
content: "";
opacity: 0;
z-index: -1;
-webkit-transition: all, 0.3s;
-o-transition: all, 0.3s;
transition: all, 0.3s;
}

.instagram__text {
text-align: center;
opacity: 0;
visibility: hidden;
-webkit-transition: all, 0.3s;
-o-transition: all, 0.3s;
transition: all, 0.3s;
}

.instagram__text i {
font-size: 30px;
color: #0d0d0d;
}

.instagram__text a {
font-size: 16px;
color: #0d0d0d;
font-weight: 500;
display: block;
margin-top: 10px;
}

.sidebar_filter{
  position: relative;
  margin-bottom: 60px;
}
.sidebar_filter .section-title {
	margin-bottom: 50px;
}

.sidebar_filter .section-title h4 {
	font-size: 18px;
}
.section-title h4::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 70px;
  background: #ca1515;
  content: "";
}

.sidebar_filter a {
	font-size: 14px;
	color: #0d0d0d;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	display: inline-block;
	padding: 5px 16px 5px 24px;
	border: 2px solid #ff0000;
	position: absolute;
	right: 0;
	bottom: -5px;
	border-radius: 2px;
}

.filter-range-wrap .range-slider .price-input {
	position: relative;
}

.filter-range-wrap .range-slider .price-input p {
	font-size: 16px;
	color: #0d0d0d;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 0;
}

.filter-range-wrap .range-slider .price-input:after {
	position: absolute;
	left: 81px;
	top: 12px;
	height: 1px;
	width: 5px;
	background: #0d0d0d;
	content: "";
}

.filter-range-wrap .range-slider .price-input input {
	font-size: 16px;
	color: #0d0d0d;
	max-width: 16%;
	border: none;
}



/* media queries */
@media screen and (max-width: 990px) {
  .instagram{
      flex-wrap: wrap;
    }
  .instagram__item{
      flex-wrap: wrap;
      width:33.33%;
  }
}


@media screen and (max-width: 767px) {

  .content{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2.5rem;
  }
  .map {
      width: 90%;
    }
    .contact {
      width: 90%;
    }
    
   
 
}
@media screen and (max-width: 480px) {
  .map {
      width: 98%;
    }
    .contact {
      width: 98%;
    }
    .instagram{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .instagram__item{
      width: 80%;
      
    }
}